.container div {
  color:white;
  height:100px;
  width:200px;
  background-color: #999999;
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  margin:5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  flex-wrap: wrap;
  background-color: #444444;
}