a:link{
	color:blue;
}

a:visited{
	color:red;
}
button:hover {
	background-color: #ff4529;
	color:white;
}
button:active {
	background-color: #72f542;
}

/*
li:first-child {
	background-color: #93ff7d
}
li:nth-child(even) {
	background-color: #93ff7d
}
*/

/*li:nth-child(an+b) {
	background-color: #caffbf
	
		nth-child(an+b)
		a = cycle-size
		n = counter (starts at 0)
		b = offset value

	
}*/

li:nth-child(2n+1) {
	background-image: linear-gradient(to right, green, blue);
	opacity:0.5;
	border: 1px solid;
}

